# Server & CORS
WORKFLOW_DISPATCHER_FRONTEND_ORIGINS=*
WORKFLOW_DISPATCHER_LOG_LEVEL=INFO

# Database
WORKFLOW_DISPATCHER_DATABASE_URL=sqlite:///./github_workflow_dispatcher.sqlite
WORKFLOW_DISPATCHER_DATABASE_MIGRATE=true
